.loader {
  display: flex;
  justify-content: center;
  line-height: 86px;
  position: relative;
  padding: 0 48px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  /* left: 0; */
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: currentColor;
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
  top: 0;
}
.loader:after {
  top: auto;
  bottom: 0;
}
@keyframes load {
  0% {
    left: 0;
    height: 43px;
    width: 15px;
    transform: translateX(0);
  }
  50% {
    height: 10px;
    width: 40px;
  }
  100% {
    left: 100%;
    height: 43px;
    width: 15px;
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1400px) {
  .loader {
    font-size: 30px;
  }
}
