.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(rgb(107, 159, 204), rgb(227, 244, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selectTitle {
  margin-top: 100px;
  margin-bottom: 50px;
}

.items {
  display: flex;
  height: fit-content;
  gap: 50px;
}

.item {
  border: 1px solid gray;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  position: relative;
  background-size: cover !important;
}

.item:hover {
  opacity: 80%;

  outline: 1px solid white;
}

.item:nth-child(1) {
  background: url("/illustrations.jpeg");
}
.item:nth-child(2) {
  background: url("/website2.jpg");
}
.item:nth-child(3) {
  background: url("/apps2.jpg");
}

.title {
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  text-transform: capitalize;
}

@media only screen and (max-width: 1400px) {
  .container {
    margin-top: 150px;
  }
  .mainTitle {
    font-size: 50px;
  }

  .items {
    flex-direction: column;
  }

  .item {
    width: 70vw;
    height: 35vh;
  }
  .selectTitle {
    margin-top: -110px;
    text-align: center;
  }
}
