.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imageContainer {
  display: flex;
  flex: 1;
  height: 300px;
  position: relative;
}

.img {
  object-fit: contain;
}

.head {
  flex: 1;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
}

.articleHeader {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.authName {
  font-size: 15px;
  font-weight: 300;
}

.authAvatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.article {
  margin-top: 20px;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
  color: #999;
}

@media only screen and (max-width: 1300px) {
  .title {
    font-size: 25px;
  }

  .desc {
    font-size: 15px;
  }
  .head {
    display: block;
    flex-direction: column;
    text-align: center;
    width: 300px;
  }

  .imageContainer {
    display: block;
  }

  .container {
    margin-top: 85px;
    gap: 30px;
    align-items: center;
    /* justify-items: center;
    align-content: center; */
  }

  .article {
    font-size: 15px;
  }
}
