.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.title {
  font-size: 75px;
  background: linear-gradient(rgb(107, 159, 204), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 25px;
  font-weight: 200;
}

.image {
  display: flex;
  width: 100%;
  /* max-height: 100vh; */
  object-fit: cover;
}

.swiper {
  border-radius: 50px;
  width: 40vw;
  height: 70vh;
  margin-top: -70px;
}

@media only screen and (max-width: 1400px) {
  .container {
    flex-direction: column-reverse;
    margin-top: 200px;
  }
  .swiper {
    width: 60vw;
    height: 30vh;
  }
}
