.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
  }
  .links {
    width: 400px;
    flex-wrap: wrap;
  }
}

.logo {
  font-weight: bold;
  font-size: large;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
