.container {
  height: 5vmax;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 1400px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: -90px;
    height: max-content;
  }
  .links {
    width: 40vmax;
    flex-wrap: wrap;
    gap: 12px;
  }
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
