.container {
  height: 5vmax;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  margin-bottom: 100px;
  font-size: 15px;
}

.logout {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.3s;
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.logo {
  transition: 0.5s;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.logo:hover {
  transition: 0.5s;
  font-size: 40px;
}

.links {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
  gap: 20px;
  box-sizing: content-box;
}

.link {
  position: relative;
  display: flex;
  margin-right: 3px;
  padding: 5px;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 1;
}
.link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
  border-radius: 10px;
}
.link:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scale(0);
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
  border-radius: 10px;
}
.link:hover {
  color: black;
}
.link:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
.link:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.logout:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s;
  box-shadow: 0 0 10px 40px white;
}

.logout:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.logout:active {
  top: 1px;
}

.logout:hover {
  background-color: #91fcc6;
  top: 4px;
  left: 4px;
}

.active {
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-top: 5px; */
  align-items: center;
  box-sizing: content-box;
  color: black;
  z-index: 1;
}

.active:after {
  content: "";
  position: absolute;
  top: 1;
  left: 1;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: white;
  opacity: 10;
  border-radius: 10px;
  z-index: -1;
}

@media only screen and (max-width: 1400px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: -90px;
    height: max-content;
  }
  .links {
    width: 40vmax;
    flex-wrap: wrap;
    gap: 12px;
  }
}
