.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon {
  border-radius: 100%;
  opacity: 70%;
}
