.container {
  margin-top: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.date {
  text-align: center;
}

.icon {
  border-radius: 100%;
  opacity: 70%;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 30px;
  }

  .date {
    line-height: 25px;
  }
}
