.container {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.3s;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(140, 207, 233);
  border: none;
  border-radius: 10px;
  color: white;
  width: max-content;
}

.container:hover {
  background-color: rgb(172, 221, 240);
  outline: 1px solid white;
  top: 5px;
  left: 5px;
}

@media only screen and (max-width: 1400px) {
  .container {
    padding: 15px;
    font-size: 13px;
  }
}
