.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.titleContainer {
  text-align: center;
}

.loader {
  height: 1px;
  background: red;
  display: flex;
  position: relative;
  /* background-color: rgb(255 255 255 / 0.3); */
  backdrop-filter: blur(10px);
  top: 20px;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin-top: 160px;
    text-align: center;
  }

  .titleContainer {
    width: 40vmax;
  }
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #bbb;
}

.button {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(140, 207, 233);
  border: none;
  border-radius: 10px;
  color: white;
  width: 300px;
  position: relative;
}

.img {
  width: 30px;
  position: absolute;
  left: 75px;
  top: 15px;
}

.button:hover {
  background-color: rgb(178, 217, 233);
}

.or {
  color: #bbb;
}

.link {
  text-decoration: underline;
  color: #7d7c7c;
}

.error {
  color: red;
}
